h1 {color:aquamarine;}
img
{
   width: 400;}
#thirdiv {height:600;
width:500;}
#thirdiv {background-color: yellowgreen;}
#spanid {font-size: 25px;}
#spain {margin: 50px;}
#thirddiv {padding: 50px;}
#thirddiv {border: 25px inset goldenrod;}